
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav styles */
  .width{
    max-width: 1140px;
    margin: 0 auto;
  }
 .nav{
  margin-top: 20px;
    display: flex; 
   align-items: center;
   justify-content: space-between;
 }
 .nav img{
  width: 138px;
  height: 82px;
 }
 .nav-items ul{
  display: flex;
  list-style: none;
  gap: 60px;  
  
 }
 .nav-items ul  a{
  text-decoration: none;  
 }
 .home{
  font-size: 16px;
  font-weight: 700;
 }

 .grey{
  color: rgba(137, 135, 161, 1);
  font-size: 16px;

 }
 .black{
  color: black;
 }
 .cart{
  font-size: 15px;
 }
 .banner{
  display: flex;
  margin-top: 121px;
 }
 .banner-part{
  width: 570px;
  height: 430px;
 }
 .banner-title{
  font-size: 65px;
  font-weight: 700;
  width: 570px;
  height: 150px;
 }
 .orange{
  color: rgba(233, 90, 8, 1);
 }
 .banner-description{
  width: 570px;
  height: 108px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  margin-top: -20px;
 }
 .banner img{
  width: 570px;
  height: 340px;
 }


 /* our plants styles */
    .plants{
      text-align: center;
      margin-top: -50px;
    
    }
    .plants-title{
      font-size: 50px;
      font-weight: 700;
    }
     .plants-description{
      width: 550px;
      height: 54px;
      font-size: 17px;
      padding: 16px 126px 49px 150px;
      color: rgba(0, 0, 0, 0.5);
      margin-left: 150px;
      margin-top: -30px;

     }

     /* plants cart styles */

     .plants-cart{
      display: grid;
      grid-template-columns: repeat(4,1fr);
     }
      
     .cart-item{
      text-align: center;
     }


     .cart-item-title{
      margin-top: 10px;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: -30px;
     }
     .cart-price{
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
     }
     
     .cart-button{
      background-color: rgba(233, 90, 8, 1);
      color: antiquewhite;
      margin-bottom: 30px;
      padding: 19px 80px 19px 80px;
      border: none;
      font-size: 16px;
      font-weight: 600;
     }
    
     /* plants and flowers part */
    
     .plants-and-flowers{
      display: flex;
      margin-top: 213px;
     }
     
     .about-plants-and-flowers{
      width: 540px;
      height: 521px;
      padding: 38px 0px 40px 60px;
     }

     .about-plants-and-flowers img{
      width: 286px;
      height: 286px;
      margin-top: -180px;
      margin-left: -240px;
     }
     .plants-and-flowers-title{
      margin-top: -85px;
      font-size: 50px;
      font-weight: 700;
      margin-left: 15px;
     }
     
     .plants-and-flowers-list {
      width: 540px;
      height: 108px;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.5);
     }
     .plants-and-flowers-list li{
      margin-bottom: 20px;
     }

     /* latest deals styles */

     .latest{
      text-align: center;
      margin-top: 100px;
     }
     
     

   .latest-img {
  display: flex;             
  gap: 20px;                  
  justify-content: center;    
  align-items: flex-start;    
              
 }


  .column-img {
  display: flex;
  flex-direction: column;     
  gap: 20px;
  width: 367px;               
   }

  .column {
  position: relative;
  width: 100%;
  height: 201px;             
   }

   .column img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: brightness(60%);
    }


.row {
  position: relative;
  width: 753px;               
  height: 423px;              
}

.row img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: brightness(60%);
 
}

.about-latest-deals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 270px;
  height: 50px;
}

.about-latest-deals h2 {
  font-size: 22px;
  font-weight: 800;
}

.about-latest-deals a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.about-latest-deals-2 {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  width: 400px;
}

.about-latest-deals-2 h2 {
  font-size: 40px;
  font-weight: 700;
}

.about-latest-deals-2 a {
  color: white;
  font-size: 28px;
  font-weight: 600;
}
 
  .colorful{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 533px;
    margin: 0 auto;
    margin-top: 150px;
  }
   
   .colorful img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
   }

  .about-colorful-bunch{
    position: absolute;
    text-align: center;
    color: white;
  }
   .about-colorful-bunch h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
  }
    .about-colorful-bunch form {
    display: flex;
    justify-content: center;
  
  }
    .about-colorful-bunch form input{
    width: 830px;
    height: 50px;
    padding: 5px 10px;
    }
   .cart-button-2{
      background-color: rgba(233, 90, 8, 1);
      color: antiquewhite;
      margin-bottom: 30px;
      padding: 22px 45px ;
      border: none;
      font-size: 16px;
      font-weight: 600;
      gap: none;
   }
   

   /* footer section styles */
   
   .footer-section{
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
   }

   .find-us{
    width: 359px;
    height: 159px;
   }
   .find-us img{
    width: 135px;
    height: 85px;
   }
   .find-us p{
    width: 300px;
    height: 90px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
   }
    .find-us-list{
      display: flex;
     width: 350px;
    }
   .find-us-list ul{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  

   }
   .find-us-list ul li{
    list-style: none;
    
   }
   .find-us-list ul li a{
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
   }
   .icon{
    width: 300px;
    height: 36px;
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
   }
  
   .twitter{
    margin-bottom: 5px;
   }


 @media screen and (max-width:576px){
  /* nav and banner styles */
  .nav{
    width: 200px;
    height: 38px;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
  
  }
  .cart{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 500;
    width: 150px;
    height: 24px;
    margin-left: 75px;
    justify-content: space-between;

  }

  .home, .grey{
    display: none;
  }
  .banner img{
    width: 100%;
    height: auto;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-part{
    margin-left: 10px;
  width: 361px;
  height: 161px;
 }
 .banner-title{
  margin-top: 20px;
   width: 360px;
  height: 70px;
  font-size: 24px;
 }
 .banner-description{
  width: 368px;
  height: 68px;
  font-size: 16px;
 }
  
  /* plants styles */
 .plants-title{
  margin-top: 70px;
 }
 .plants-description{
  
      width: 336px;
      height: 54px;
      font-size: 17px;
      padding: 16px 126px 49px 150px;
      text-align: center;
      margin-left: -120px;
      margin-top: -30px;
 }
  .plants-cart{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin-left: 10px;
     }
     .plants-cart img{
      width: 171px;
      height: 196px;
     }
     .cart-item{
      width: 171px;
      height: 340px;
      gap: 20px;
     }
     .cart-price{
      margin-top: 30px;
     }
     .cart-button{
      width: 171px;
      height: 50px;
      margin-top: -30px;
      padding: 10px 5px 10px 5px;
    
     }
     /* plants and flowers styles */
     .plants-and-flowers{
      flex-direction: column;
      margin-top: 20px;
     }
      
     .plants-and-flowers img{
        width: 365px;
        height: 405px;
        margin-left: 5px;
     }
     .about-plants-and-flowers{
      width: 361px;
      height: 261px;
      margin-top: 125px;
      margin-left: -65px;
     }
     .plants-and-flowers-title{
      font-size: 24px;
      width: 270px;
      height: 33px;
      margin-top: px;
      margin-bottom: 50px;
     }
     .plants-and-flowers-list{
      width: 361px;
      height: 51px;
      font-size: 18px;
     }
     .about-plants-and-flowers img{
      display: none;
     }
    
    .latest-img {
    flex-direction: column;
    align-items: center;
  }

  .column-img, .row  {
    width: 100%;   
    height: auto; 
  }

  .column {
    height: auto;
  }

  .column img, .row img {
    height: auto;
    width: 100%;
  }

  .about-latest-deals-2 h2{
    font-size: 22px;
  }
  .colorful{
    margin-top: -30px;
  }
   .colorful img{
    width: 393px;
    height: 300px;
   }
  .about-colorful-bunch form input{
    width: 160px;
    height: 30px;
    padding: 5px 14px;
  }
 
  .about-colorful-bunch h2{
    font-size: 20px;
  }

  .cart-button-2{
    padding: 12px 14px ;
  }
  
   .footer-section{
    flex-direction: column;
    margin-top: -50px;
    margin-bottom: 40px;
   }
   
   .find-us{
    width: 389px;
    height: 179px;
    margin-left: 20px;
   }
   .find-us p{
    font-size: 16px;
   }
   .find-us-list{
    flex-direction: column;
    align-items: flex-start;
    margin-top: -5px;
   }
  
   .find-us-list ul{
    
    margin-left: -20px;
    margin-top: 5px;
    gap: 20px;
   }
  
   .icon{
    margin-left: -20px;
   }
}
     
    
     
